<div class="curriculum">
  <div class="actions">
    {{#if isEditing}}
      <button {{action 'doneEditing'}} class="btn btn-primary">Done</button>

      <a href="#" {{action 'cancelEditing'}}>Cancel</a>
    {{else}}
      <button {{action 'edit'}} class="btn btn-primary">Edit</button>
    {{/if}}
  </div>

  {{#if isEditing}}
    <div>
      {{input type="text" value=title}}
    </div>
  {{else}}
    <h2>{{title}}</h2>
  {{/if}}

  <strong>
    by {{instructor.fullName}},
    <span class="muted">{{format-date createdAt}}</span>
  </strong>

  <div class="description">
    {{#if isEditing}}
      <div>
        {{textarea value=description}}
      </div>
      <h3>Preview:</h3>
    {{/if}}
    {{format-markdown description}}
  </div>

  {{outlet}}

  <div class="lessons">
    <h3>Lessons</h3>
    {{#each lessons}}
      <h4>
        {{#link-to 'lesson' this}}
          {{title}}
        {{/link-to}}
      </h4>
    {{/each}}
  </div>
</div>
