<div class="curriculum">
  {{editable-text-value value=title action='save'}}

  <strong>
    by {{instructor.fullName}},
    <span class="muted">{{format-date createdAt}}</span>
  </strong>

  <div class="description">
    {{editable-markdown value=description action='save'}}
  </div>

  <hr>

  <div class="lessons col-md-4">
    <h3>
      Lessons
      <a href="#" class="btn btn-primary" {{action 'createLesson'}}>+</a>
    </h3>
    {{#each lesson in lessons}}
      <h4>
        {{#link-to 'lesson' lesson}}
          {{lesson.title}}
        {{/link-to}}
      </h4>
    {{/each}}
  </div>

  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
