<h2>{{title}}</h2>

<strong>
  by {{instructor.fullName}},
  <span class="muted">{{format-date createdAt}}</span>
</strong>

<div class="description">
  {{format-markdown description}}
</div>

{{outlet}}
