<h1>{{editable-text-value value=title action='save'}}</h1>

{{editable-markdown value=description action='save'}}

<h2>
  Resources
  <a href="#" class="btn btn-primary" {{action 'createResource'}}>+</a>
</h2>
<ul>
  {{#each resource in resources}}
    {{resource-list-item resource=resource}}
  {{/each}}
</ul>

{{outlet}}
