<h1>{{title}}</h1>

<p>{{description}}</p>

<h2>Resources</h2>
<ul>
  {{#each resources}}
    <li>
      <a {{bind-attr href=url}} target="_blank">{{title}}</a>
      {{description}}
    </li>
  {{/each}}
</ul>

{{outlet}}
